@model Tp_TransportesRaffi.Models.Viaje

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Viaje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomicilioEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomicilioEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorViaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorViaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoViaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoViaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdclienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdclienteNavigation.Cuit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdvehiculoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdvehiculoNavigation.Patente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
