@model IEnumerable<Tp_TransportesRaffi.Models.Viaje>

<script src="~/js/viajes/pasarAEnTransito.js"></script>

<div class="main" id="main">
    <div class="col-10">
        <h2>Hoja de Ruta</h2>
        <h2>Dia  @DateTime.Now.ToString("dd/MM/yyyy")</h2>
        <br />
        <table class="table table-bordered table-striped" id="tabla">
            <thead class="thead-dark">
                <tr>
                    <th>Cliente</th>
                    <th>Chofer</th>
                    <th>Patente de Vehiculo</th>
                    <th>Valor del Viaje</th>
                    <th>Estado del Viaje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Viaje v in Model)
                {
                    <tr>
                        <td>@v.IdclienteNavigation.Nombre</td>
                        <td>@v.IdvehiculoNavigation.IdchoferNavigation.Nombre</td>
                        <td>@v.IdvehiculoNavigation.Patente</td>
                        <td>$@v.ValorViaje</td>
                        <td>@v.EstadoViaje</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<br />

<div class="row">
    <div class="col-5">
        <p></p>
    </div>
    <div class="col-3" id="verProgramados" style="text-align:right">
        <div>
            <p id="verProgramados">
                <a asp-area="" asp-controller="Viajes" asp-action="ListarViajes" class="btn btn-outline-primary"
                   title="Ver lista de viajes Programados">Ver Viajes Programados</a>
            </p>
        </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" id="crearViaje">
        <input type="button" id="pasarAFinalizado" value="Pasar a En Transito" class="btn btn-outline-primary" onclick="pasarAEnTransito()"/>
    </div>
</div>