@model IEnumerable<Tp_TransportesRaffi.Models.Viaje>

@{
    ViewData["Title"] = "Hoja de Ruta";
}

<script src="~/js/viajes/pasarAEnTransito.js"></script>

<div class="main" id="main">
    <div class="col-12">
        <h2>Hoja de Ruta</h2>
        <h2>Dia  @DateTime.Now.ToString("dd/MM/yyyy")</h2>
        <br />
        <table class="table table-bordered table-striped" id="tabla">
            <thead class="thead-dark">
                <tr>
                    <th>Cliente</th>
                    <th>Chofer</th>
                    <th>Patente de Vehiculo</th>
                    <th>Valor del Viaje</th>
                    <th>Estado del Viaje</th>
                    <th>Pasar a En Transito</th>
                    <th>Pasar a Finalizado</th>
                </tr>
            </thead>
            <tbody>
                @*Html.Raw(v.EstadoViaje==Tp_TransportesRaffi.Models.Enums.EstadoViajeEnum.LISTO?"disabled='disabled'":"")*@
                @foreach (Viaje v in Model)
                {
                    <tr>
                        <td>@v.IdclienteNavigation.Nombre</td>
                        <td>@v.IdvehiculoNavigation.IdchoferNavigation.Nombre</td>
                        <td>@v.IdvehiculoNavigation.Patente</td>
                        <td>$@v.ValorViaje</td>
                        <td>@v.EstadoViaje</td>
                        <td>
                            @if (v.EstadoViaje == Tp_TransportesRaffi.Models.Enums.EstadoViajeEnum.EN_TRANSITO)
                            {
                                <i class="fa fa-road" id="icono" style="font-size:large"></i>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Viajes" asp-action="PasarAEnTransito" asp-route-id="@v.Id" title="Pasar A En Transito"><i class="fa fa-road" id="icono" style="font-size:large"></i></a>
                            }
                        </td>
                        <td>
                            @if (v.EstadoViaje != Tp_TransportesRaffi.Models.Enums.EstadoViajeEnum.LISTO)
                            {
                                <a asp-area="" asp-controller="Viajes" asp-action="PasarAFinalizado" asp-route-id="@v.Id" title="Pasar A Finalizado"><i class="fa fa-check" id="icono" style="font-size:large"></i></a>

                            }
                            else
                            {
                                <i class="fa fa-check" id="icono" style="font-size:large"></i>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<br />

<div class="row">
    <div class="col-8">
        <p></p>
    </div>
    <div class="col-3" id="verProgramados" style="text-align:right">
        <div>
            <p id="verProgramados">
                <a asp-area="" asp-controller="Viajes" asp-action="ListarViajes" class="btn btn-outline-primary"
                   title="Ver lista de viajes Programados">Ver Viajes Programados</a>
            </p>
        </div>
    </div>
</div>