@model IEnumerable<Tp_TransportesRaffi.Models.Viaje>

@{
    ViewData["Title"] = "Viajes Programados";
}

<div class="main" id="main" style="margin:0">
    <div class="col-12">
        <h2>Viajes Programados</h2>
        <br />
        <br />
        <table class="table table-bordered table-striped" id="tabla">
            <thead class="thead-dark">
                <tr>
                    <th>Fecha de Viaje</th>
                    <th>Cliente</th>
                    <th>Descripcion Paquete</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Viaje v in Model)
                {
                    <tr>
                        <td>@v.FechaHoraEntrega</td>
                        <td>@v.IdclienteNavigation.Nombre</td>
                        <td>@v.DescripcionPaquete</td>
                        <td><a asp-area="" asp-controller="Viajes" asp-action="Edit" asp-route-id="@v.Id" title="Modificar Viaje"><i class="fa fa-edit" id="icono"></i></a></td>
                        <td><a asp-area="" asp-controller="Viajes" asp-action="Delete" asp-route-id="@v.Id" title="Eliminar Viaje"><i class="fa fa-trash" id="icono"></i></a></td>
                        <td>@v.EstadoViaje</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-8">
        <p></p>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" style="padding-right:20px" id="crearViaje">
        <div>
            <p id="crearViaje">
                <a asp-action="Create" class="btn btn-outline-primary" title="Crear nuevo viaje">
                    Crear
                    nuevo viaje
                </a>
            </p>
        </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" style="padding-left:0px" id="verHistorico">
        <div>
            <p id="verHistorico">
                <a asp-area="" asp-controller="Viajes" asp-action="ListarViajesHistoricos" class="btn btn-outline-primary"
                   title="Ver lista de viajes terminados">Ver Historico</a>
            </p>
        </div>
    </div>
</div>